<div class="mt-4 mb-5">
  <h2>Reactive Login Form</h2>
  <form [formGroup]="reactiveLoginForm" (submit)="reactiveLogin()" novalidate>
    <div class="form-group">
      <label for="reactive-email">Email address</label>
      <input type="email" class="form-control" id="reactive-email" placeholder="Enter email" required formControlName="email">
      <div class="text-danger" *ngIf="!reactiveLoginForm.get('email').valid && reactiveLoginForm.get('email').touched">
        The email is not valid.
      </div>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="reactive-password">Password</label>
      <input type="password" class="form-control" id="reactive-password" placeholder="Password" required minlength="8" formControlName="password">
      <div class="text-danger" *ngIf="!reactiveLoginForm.get('password').valid && reactiveLoginForm.get('password').touched">
        The password is not valid.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
