<form [formGroup]="reactiveEditionForm" (submit)="editArticle()" novalidate>
  <div class="form-group">
    <label for="reactive-title">Title</label>
    <input type="text" class="form-control" id="reactive-title" placeholder="Enter title" required formControlName="title">
  </div>
  <div class="form-group">
    <label for="reactive-description">Description</label>
    <textarea rows="10" class="form-control" id="reactive-description" placeholder="Enter description" required formControlName="description"></textarea>
  </div>
  <div class="form-group">
    <label for="reactive-image">Image</label>
    <input class="form-control" id="reactive-image" placeholder="Enter image" required formControlName="image">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
  <a class="btn btn-danger ml-2" [routerLink]="['/articles', id]">Go back</a>
</form>
